<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>


<header class="header">
    <div style="position: absolute;width:  100%;height:  100%;z-index:  100;">
    <div class="header__main-menu main-menu">
        <div class="block-logo">
            <img class="block-logo__img" src="img/logo.png">
        </div>
        <ul class="main-menu__list">
            <li class="main-menu__item"><a href="#">О нас</a></li>
            <li class="main-menu__item"><a href="#">Услуги</a></li>
            <li class="main-menu__item"><a href="#">Команда</a></li>
            <li class="main-menu__item"><a href="#">Цены</a></li>
            <li class="main-menu__item"><a href="#">Клиенты</a></li>
            <li class="main-menu__item"><a href="#">Обучение</a></li>
            <li class="main-menu__item"><a href="#">Контакты</a></li>
        </ul>
    </div>
    <div class="header__block-middle">
        <h2 class="header__block-middle_title">“Black Room<span style="color:#1842d1;">.</span>”</h2>
        <p class="header__block-middle_body">мы команда для развития вашего проекта</p>
        <div class="header__block-middle_block-links">
            <a class="header__block-middle_button button-blue" href="#">наши услуги</a>
            <a class="header__block-middle_button button-noblue" href="#">про обучение</a>
        </div>
    </div>
    <div class="scroll-icon">

    </div>
    </div>
    <video loop muted autoplay class="fullscreen-bg__video">
        <source src="img/video.mp4" type="video/mp4">
        <source src="img/plane.webm" type="video/webm">
    </video>
</header>

<div class="advantages">
    <div class="advantages-block">
        <h2 class="advantages__title">Комплексное продвижение вашего аккаунта в instagram</h2>
        <p class="advantages__body">До недавнего времени считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной области. Первая производная переворачивает лист Мёбиуса. Замкнутое множество</p>
    </div>
    <img src="img/knife.png" class="knife-img">
</div>































<!--<div class="content">
    <div class="content__block">
        <div class="content__breadcrumb breadcrumb">
            <a class="breadcrumb_link" href="#">LISP</a> / <a class="breadcrumb_link" href="#">Одежда</a> / Футболки
        </div>

        <div class="content__field-image field-image">
            <img class="field-image_img" id="fullImg" name="full-img" src="img/tshirts/tshirt_green.jpg">
        </div>

        <div class="content__title-name title-name">
            <h1 class="title-name_text">Футболка Alien technology</h1>
        </div>
        <div class="content__field-body field-body">
            <p class="field-body_text">Состав: 100% хлопок, динамическая типизация, польская нотация. Производство: Россия.</p>
        </div>

        <div class="content__product-price product-price" >
            <div class="product-price_text">1500₽</div>
        </div>

        <form class="content__webform-client-form" action="/" method="post" id="webformClientForm" accept-charset="UTF-8">
            <div class="content__product-size  field-size">
                <label for="edit-submitted-size" class="label-text">Размер:</label>
                <div id="editSubmittedSize" class="form-radios">
                    <div class="form-radios__form-item">
                        <input required="required" type="radio" id="editSubmittedSize1" name="submitted[size]" value="1" class="form-radios__input form-radios__input_1">
                        <label class="form-radios__label" for="edit-submitted-size-1"> <p class="form-radios__text">S</p> </label>
                     </div>
                    <div class="form-radios__form-item">
                        <input required="required" type="radio" id="editSubmittedSize2" name="submitted[size]" value="2" class="form-radios__input form-radios__input_2">
                        <label class="form-radios__label" for="edit-submitted-size-2"> <p class="form-radios__text">M</p></label>

                    </div>
                    <div class="form-radios__form-item">
                        <input required="required" type="radio" id="editSubmittedSize3" name="submitted[size]" value="3" class="form-radios__input form-radios__input_3">
                        <label class="form-radios__label" for="edit-submitted-size-3"><p class="form-radios__text">L</p> </label>

                    </div>
                </div>
            </div>
            <div class="content__product-color  field-color">
                <label for="edit-submitted-color" class="label-text">Цвет:</label>
                <div id="editSubmittedColor" class="form-radios">
                    <div class="form-radios__form-item">
                        <input required="required" type="radio" id="editColorWhite" name="submitted[color]" value="white"  class="js_form-radios__input form-radios__input form-radios__input_white">
                        <label class="form-radios__label" for="editColorWhite"> </label>

                    </div>
                    <div class="form-radios__form-item">
                        <input required="required" type="radio" id="editColorYellow" name="submitted[color]" value="yellow" class="js_form-radios__input form-radios__input form-radios__input_yellow">
                        <label class="form-radios__label" for="editColorYellow"> </label>

                    </div>
                    <div class="form-radios__form-item">
                        <input required="required" type="radio" id="editColorGreen" name="submitted[color]" value="green"  class="js_form-radios__input form-radios__input form-radios__input_green">
                        <label class="form-radios__label" for="editColorGreen"> </label>

                    </div>
                </div>
            </div>

            <div class="content__product-add-to-cart  field-add-to-cart"><input class="form-submit ajax-processed add-to-cart" type="submit" name="op" value="Купить"></div>
        </form>


            <div class="content__product-post-on-later  field-post-on-later">
                <img src="img/heart-icon.png"><input type="submit" name="post-on-later" value="Отложить на потом" class="form-submit ajax-processed post-on-later">
            </div>

        </div>
    </div>


<footer class="footer">
    <div class="footer__block footer__block-top footer-top">
        <div class="footer-top__menu footer-top__menu-left">
            <h2 class="footer-top__menu_title">Сервис и поддержка</h2>
            <ul class="footer-top__menu_list">
                <%const service = ['Как сделать заказ','Возврат товара','Публичная оферта','Доставка','Способы оплаты','Правила продажи','Возврат денежных средств','Вопросы и ответы'];%>
                <%for (let item = 1;item<=service.length;item++){%>
                <li class="footer-top__menu_item footer-top__menu_list-<%=item%>">
                    <a class="footer-top__menu_link" href="#" title="<%=service[item-1]%>"><%=service[item-1]%></a>
                </li>
                <%}%>
            </ul>
        </div>

        <div class="footer-top__menu footer-top__menu-midle"><h2 class="footer-top__menu_title">О комтании</h2>
            <ul class="footer-top__menu_list">
                <%const about = ['О нас','Контакты','Вакансии','Партнерам','Сертификаты','Преимущества','Наши скидки'];%>
                <%for (let item = 1;item<=about.length;item++){%>
                <li class="footer-top__menu_item footer-top__menu_item-<%=item%>">
                    <a class="footer-top__menu_link" href="#" title="<%=about[item-1]%>"><%=about[item-1]%></a>
                </li>
                <%}%>
            </ul>
        </div>
        <div class="footer-top__block-info">
            <div class="footer-top__block-info_item footer-top__block-info_first">
                <img class="footer-top__block-info_img" src="img/icons/delivery.svg" width="50" height="50">бесплатная доставка от 4000 ₽
            </div>
            <div class="footer-top__block-info_item footer-top__block-info_second">
                <img class="footer-top__block-info_img" src="img/icons/heart.svg" width="32" height="32">пробники в подарок при каждой покупке
            </div>
            <div class="footer-top__block-info_item footer-top__block-info_the-third">
                <img class="footer-top__block-info_img" src="img/icons/cup.svg" width="32" height="32">акции и подарки за покупку
            </div>
        </div>
        <div class="footer-top__block-icon">
            <div class="footer-top__block-icon_link footer-top__block-icon_link-1">
                <a href="#"><img class="footer-top__block-icon_img" src="img/icons/facebook.svg" width="32" height="32"></a>
            </div>
            <div class="footer-top__block-icon_link footer-top__block-icon_link-2">
                <a href="#"><img class="footer-top__block-icon_img" src="img/icons/twitter.svg" width="32" height="32"></a>
            </div>
            <div class="footer-top__block-icon_link footer-top__block-icon_link-3">
                <a href="#"><img class="footer-top__block-icon_img" src="img/icons/instagram.svg" width="32" height="32"></a>
            </div>
        </div>
    </div>
    <div class="footer__block footer__block-bottom">
        <p>2005-2017 © 7h35h0p.ru — модный интернет-магазин одежды, обуви и аксессуаров.<br> Все права защищены. Доставка по всей России!</p>
    </div>
</footer>-->

<script src="js/scripts.js"></script>
</body>
</html>
