<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="js/slick-theme.css">
    <link rel="stylesheet" href="js/slick.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>


<header class="header">
    <div style="position: absolute;width:  100%; max-width: 1920px; z-index:  100;">
    <div class="header__main-menu main-menu">
        <div class="block-logo">
            <img class="block-logo__img" src="img/logo.png">
        </div>
        <ul class="main-menu__list">
            <li class="main-menu__item"><a class="main-menu__link" href="#">О нас</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="#">Услуги</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="#">Команда</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="#">Цены</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="#">Клиенты</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="#">Обучение</a></li>
            <li class="main-menu__item" style="margin: 0;"><a class="main-menu__link" href="#">Контакты</a></li>
        </ul>
        <a href="#menuMob" id="toggle"><span></span></a>

        <div id="menuMob">
            <ul class="main-menu__list">
                <li class="main-menu__item"><a class="main-menu__link" href="#">О нас</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Услуги</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Команда</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Цены</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Клиенты</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Обучение</a></li>
                <li class="main-menu__item" style="margin: 0;"><a class="main-menu__link" href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
    <div class="header__block-middle">
        <h2 class="header__block-middle_title">“Black Room<span style="color:#1842d1;">.</span>”</h2>
        <p class="header__block-middle_body">мы команда для развития вашего проекта</p>
        <div class="header__block-middle_block-links">
            <a class="header__block-middle_button button-blue anim_btn effektD" href="#">наши услуги</a>
            <a class="header__block-middle_button button-noblue anim_btn effektD" href="#">про обучение</a>
        </div>
    </div>
        <div class="mouse-scroll" id="mouse-scroll">
            <div class="mouse">
                <div class="mouse-in"></div>
            </div>
            <div>
                <span class="down-arrow-1"></span>
                <span class="down-arrow-2"></span>
                <span class="down-arrow-3"></span>
            </div>
        </div>
    <div class="scroll-icon">

    </div>
    </div>
    <div class="video-controler">
        <video loop muted autoplay width="100%" height="100%" class="fullscreen-bg__video">
            <source src="img/video2.mp4" type="video/mp4">
            <source src="img/video1.webm" type="video/webm">
        </video>
    </div>
</header>

<div class="advantages">
    <div class="advantages-block">
        <h2 class="advantages__title">Комплексное продвижение вашего аккаунта в instagram</h2>
        <p class="advantages__body">До недавнего времени считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной области. Первая производная переворачивает лист Мёбиуса. Замкнутое множество</p>
    </div>
    <img src="img/knife.png" class="knife-img">
</div>

<div class="about">
    <div class="about__block">
        <div class="about__block_item about__block_item-1 about-item">
            <img class="about-item__img" src="img/icon1.svg">
            <h2 class="about-item__title">Стратегия</h2>
            <p class="about-item__body">До недавнего времени нет считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной </p>
        </div>
        <div class="about__block_item about__block_item-1 about-item">
            <img class="about-item__img" src="img/icon2.svg">
            <h2 class="about-item__title">Контент</h2>
            <p class="about-item__body">До недавнего времени нет считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной </p>
        </div>
        <div class="about__block_item about__block_item-1 about-item">
            <img class="about-item__img" src="img/icon3.svg">
            <h2 class="about-item__title">Фото</h2>
            <p class="about-item__body">До недавнего времени нет считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной </p>
        </div>
        <div class="about__block_item about__block_item-1 about-item">
            <img class="about-item__img" src="img/icon4.svg">
            <h2 class="about-item__title">Копирайтинг</h2>
            <p class="about-item__body">До недавнего времени нет считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной </p>
        </div>
        <div class="about__block_item about__block_item-1 about-item">
            <img class="about-item__img" src="img/icon5.svg">
            <h2 class="about-item__title">Дизайн</h2>
            <p class="about-item__body">До недавнего времени нет считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной </p>
        </div>
        <div class="about__block_item about__block_item-1 about-item">
            <img class="about-item__img" src="img/icon6.svg">
            <h2 class="about-item__title">Таргетинг</h2>
            <p class="about-item__body">До недавнего времени нет считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной </p>
        </div>
    </div>
</div>

<div class="professionals">
    <div class="professionals__block">
        <div class="professionals__block_title">
            <h2 class="professionals__title">Мы команда профессионалов<span style="color:#1842d1;">.</span></h2><img src="img/proff-icon.png" class="professionals__icon">
            <div class="professionals__line"></div><p class="professionals__body">До недавнего времени считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной области. Первая производная</p>
        </div>
        <div class="professionals__list">
            <div class="professionals__list_item professionals__list_item-1">
                <div class="professionals__list_item-hover-block">
                    <img class="professionals__img" src="img/proff-1.png">
                    <div class="professionals__list_item-hover item-hover">
                        <img class="item-hover__icon" src="img/brill.png">
                        <div class="item-hover__block">
                            <h2 class="item-hover__title">Личностные качества</h2>
                            <p class="item-hover__body">- Фотограф со стажем<br>
                                - Воспитала две кошечки<br>
                                - Люблю прибухнуть<br>
                                - Работаю 24/7<br>
                                - Яна ку-ку, но она наша</p>
                        </div>
                    </div>
                </div>
                <h2 class="professionals__item-title">Настя Ломова<span style="color:#1842d1;">.</span></h2>
                <p class="professionals__item-body">До недавнего времени считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной области.</p>
            </div>
            <div class="professionals__list_item professionals__list_item-2">
                <div class="professionals__list_item-hover-block">
                    <img class="professionals__img" src="img/proff-2.png">
                    <div class="professionals__list_item-hover item-hover">
                        <img class="item-hover__icon" src="img/brill2.png">
                        <div class="item-hover__block">
                            <h2 class="item-hover__title">Личностные качества</h2>
                            <p class="item-hover__body">- Фотограф со стажем<br>
                                - Воспитала две кошечки<br>
                                - Люблю прибухнуть<br>
                                - Работаю 24/7<br>
                                - Яна ку-ку, но она наша</p>
                        </div>
                    </div>
                </div>
                <h2 class="professionals__item-title">Ксюша Баути<span style="color:#1842d1;">.</span></h2>
                <p class="professionals__item-body">До недавнего времени считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной области.</p>
            </div>
            <div class="professionals__list_item professionals__list_item-3">
                <div class="professionals__list_item-hover-block">
                    <img class="professionals__img" src="img/proff-3.png">
                    <div class="professionals__list_item-hover item-hover">
                        <img class="item-hover__icon" src="img/brill3.png">
                        <div class="item-hover__block">
                            <h2 class="item-hover__title">Личностные качества</h2>
                            <p class="item-hover__body">- Фотограф со стажем<br>
                                - Воспитала две кошечки<br>
                                - Люблю прибухнуть<br>
                                - Работаю 24/7<br>
                                - Яна ку-ку, но она наша</p>
                        </div>
                    </div>
                </div>
                <h2 class="professionals__item-title">Снежана Кузьмина<span style="color:#1842d1;">.</span></h2>
                <p class="professionals__item-body">До недавнего времени считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной области.</p>
            </div>
        </div>
    </div>
</div>

<div class="number-of">
    <div class="number-of__block" id="counts">
        <div class="number-of__item">
            <h2 class="number-of__item_title">
                <span class="spincrement">4</span><span style="color:#1e44d0;">.</span>
            </h2>
            <p class="number-of__item_body">
                года в профессии
            </p>
        </div>
        <div class="number-of__item">
            <h2 class="number-of__item_title">
                <span class="spincrement">38</span><span style="color:#1e44d0;">.</span>
            </h2>
            <p class="number-of__item_body">
                текущих проектов
            </p>
        </div>
        <div class="number-of__item">
            <h2 class="number-of__item_title">
                <span class="spincrement">1000</span><span style="color:#1e44d0;">+</span>
            </h2>
            <p class="number-of__item_body">
                наших учеников
            </p>
        </div>
    </div>
</div>

<div class="rates">
    <div class="rates__block">
        <div class="rates__block_title">
            <h2 class="rates__title">Наши тарифы<br>
                на ведение вашего аккаунта<span style="color:#1842d1;">.</span></h2><img src="img/rates-icon.png" class="rates__icon">
            <div class="rates__line"></div><p class="rates__body">В любой момент вы можете изменить тариф или добавить услуги, которые нужны для вашего продвижения.</p>
        </div>
        <div class="rates__block_items">
            <div class="rates__item rates__item-1">
                <img src="img/price-icon1.png" class="rates__item_img">
                <h2 class="rates__item_title">Красивая лента.</h2>
                <ul class="rates__item_list">
                    <li class="rates__item_list-item">В наши услуги входит <b>разбор
                            ошибок</b> ведения вашего
                        аккаунта;</li>
                    <li class="rates__item_list-item">Сбор информации и подготовка
                        красивой <b>ленты, в едином<br>
                            стиле</b>;</li>
                    <li class="rates__item_list-item"><b>Дизайн-макеты</b> от нашей
                        команды;</li>
                    <li class="rates__item_list-item"><b>1-2 поста в день</b>;</li>
                </ul>
                <p class="rates__item_price"><span>5000</span>   руб/месяц</p>
                <a href="#" class="rates__item_link anim_btn effektD button-blue">мне подходит >></a>
            </div>
            <div class="rates__item rates__item-2">
                <img src="img/price-icon2.png" class="rates__item_img">
                <h2 class="rates__item_title">Ведение под ключ.</h2>
                <p class="rates__item_body">Идеально подходит для тех, кому нужен комплексный подход по ведению Instagram. Мы сделаем
                    все за вас</p>
                <ul class="rates__item_list">
                    <li class="rates__item_list-item"><b>Все что входит в тариф
                            “Красивая лента” плюс:</b></li>
                    <li class="rates__item_list-item">Копирайтинг постов;</li>
                    <li class="rates__item_list-item"><b>Работа с аудиторией.</b> Цель:
                        разговорить ваших подписчиков</li>
                    <li class="rates__item_list-item">Проведение акций и конкурсов;</li>
                    <li class="rates__item_list-item">Настройка массфоловинга;</li>
                </ul>
                <p class="rates__item_price"><span>7000</span>   руб/месяц</p>
                <a href="#" class="rates__item_link anim_btn effektD">мне подходит >></a>
            </div>
            <div class="rates__item rates__item-3 ">
                <img src="img/price-icon3.png" class="rates__item_img">
                <h2 class="rates__item_title">Продажа вашего
                    товара или услуги.</h2>
                <p class="rates__item_body">Идеально подходит для тех, кто готов вкладываеться в рекламу и работать с блогерами. </p>
                <ul class="rates__item_list">
                    <li class="rates__item_list-item"><b>Все что входит в тариф
                        “Ведение под ключ” плюс:</b></li>
                    <li class="rates__item_list-item">Настройка и работа с
                        таргетированной рекламой
                        и блогерами;</li>
                </ul>
                <p class="rates__item_price"><span>10000</span>   руб/месяц</p>
                <a href="#" class="rates__item_link anim_btn effektD button-blue">мне подходит >></a>
            </div>
        </div>
    </div>
</div>

<div class="portfolio">
    <div class="portfolio__block">
        <div class="portfolio__obuch obuch">
            <img class="mobile-img" src="img/portfolio-foto.png">
            <h2 class="obuch__title">Обучение</h2>
            <p class="obuch__body">Мы проводим обучение по<br>
                следующим направлениям:</p>
            <a href="#" class="obuch__link obuch__link-1 effektD anim_btn">smm продвижение</a><br>
            <a href="#" class="obuch__link obuch__link-2 effektD anim_btn">мобильное фото</a><br>
            <a href="#" class="obuch__link obuch__link-3 effektD anim_btn">скетчинг маркерами</a><br>
        </div>
        <div class="portfolio-slider">
            <h2 class="portfolio-slider__title">Портфолио<span style="color:#1842d1;">.</span></h2>
            <div class="rates__line"></div>
            <div class="portfolio-slider__block" id="sliderBlock">
                <div class="portfolio-slider__item portfolio-slider__item-1">
                    <img class="portfolio-slider__item_img" src="img/iphone1.png">
                    <p class="portfolio-slider__item_tag">@lita.leto</p>
                    <p class="portfolio-slider__item_body">До недавнего времени считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной области. Первая производная переворачивает лист Мёбиуса. Замкнутое множество</p>
                    <a class="portfolio-slider__item_link effektD anim_btn" href="#">посмотреть аккаунт</a>
                </div>
                <div class="portfolio-slider__item portfolio-slider__item-1">
                    <img class="portfolio-slider__item_img" src="img/iphone1.png">
                    <p class="portfolio-slider__item_tag">@lita.leto</p>
                    <p class="portfolio-slider__item_body">До недавнего времени считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной области. Первая производная переворачивает лист Мёбиуса. Замкнутое множество</p>
                    <a class="portfolio-slider__item_link effektD anim_btn" href="#">посмотреть аккаунт</a>
                </div>
                <div class="portfolio-slider__item portfolio-slider__item-1">
                    <img class="portfolio-slider__item_img" src="img/iphone1.png">
                    <p class="portfolio-slider__item_tag">@lita.leto</p>
                    <p class="portfolio-slider__item_body">До недавнего времени считалось, что абсолютно сходящийся ряд продуцирует интеграл по ориентированной области. Первая производная переворачивает лист Мёбиуса. Замкнутое множество</p>
                    <a class="portfolio-slider__item_link effektD anim_btn" href="#">посмотреть аккаунт</a>
                </div>
        </div>
        </div>
    </div>
</div>

<div class="write-to-us">
    <div class="write-to-us__block">
        <h2 class="write-to-us__title">Готовы обсудить свой проект? <span class="write-to-us__title_mobile">Пишите нам сообщение!</span></h2>
        <a class="write-to-us__link effektD anim_btn" href="#">Написать сообщение</a>
    </div>
</div>

<div class="footer">
    <div class="footer__block">
        <img class="footer__logo" src="img/logo.png">
        <p class="footer__nomber">8 (928) 036-41-96<img class="footer__img" src="img/nomber.png"></p>
        <p class="footer__email">Lomova.info@yandex.ru<img class="footer__img" src="img/mail.png"></p>
        <p class="footer__insta">@nastylomova<img class="footer__img" src="img/insta.png"></p>
    </div>
</div>





























<!--<div class="content">
    <div class="content__block">
        <div class="content__breadcrumb breadcrumb">
            <a class="breadcrumb_link" href="#">LISP</a> / <a class="breadcrumb_link" href="#">Одежда</a> / Футболки
        </div>

        <div class="content__field-image field-image">
            <img class="field-image_img" id="fullImg" name="full-img" src="img/tshirts/tshirt_green.jpg">
        </div>

        <div class="content__title-name title-name">
            <h1 class="title-name_text">Футболка Alien technology</h1>
        </div>
        <div class="content__field-body field-body">
            <p class="field-body_text">Состав: 100% хлопок, динамическая типизация, польская нотация. Производство: Россия.</p>
        </div>

        <div class="content__product-price product-price" >
            <div class="product-price_text">1500₽</div>
        </div>

        <form class="content__webform-client-form" action="/" method="post" id="webformClientForm" accept-charset="UTF-8">
            <div class="content__product-size  field-size">
                <label for="edit-submitted-size" class="label-text">Размер:</label>
                <div id="editSubmittedSize" class="form-radios">
                    <div class="form-radios__form-item">
                        <input required="required" type="radio" id="editSubmittedSize1" name="submitted[size]" value="1" class="form-radios__input form-radios__input_1">
                        <label class="form-radios__label" for="edit-submitted-size-1"> <p class="form-radios__text">S</p> </label>
                     </div>
                    <div class="form-radios__form-item">
                        <input required="required" type="radio" id="editSubmittedSize2" name="submitted[size]" value="2" class="form-radios__input form-radios__input_2">
                        <label class="form-radios__label" for="edit-submitted-size-2"> <p class="form-radios__text">M</p></label>

                    </div>
                    <div class="form-radios__form-item">
                        <input required="required" type="radio" id="editSubmittedSize3" name="submitted[size]" value="3" class="form-radios__input form-radios__input_3">
                        <label class="form-radios__label" for="edit-submitted-size-3"><p class="form-radios__text">L</p> </label>

                    </div>
                </div>
            </div>
            <div class="content__product-color  field-color">
                <label for="edit-submitted-color" class="label-text">Цвет:</label>
                <div id="editSubmittedColor" class="form-radios">
                    <div class="form-radios__form-item">
                        <input required="required" type="radio" id="editColorWhite" name="submitted[color]" value="white"  class="js_form-radios__input form-radios__input form-radios__input_white">
                        <label class="form-radios__label" for="editColorWhite"> </label>

                    </div>
                    <div class="form-radios__form-item">
                        <input required="required" type="radio" id="editColorYellow" name="submitted[color]" value="yellow" class="js_form-radios__input form-radios__input form-radios__input_yellow">
                        <label class="form-radios__label" for="editColorYellow"> </label>

                    </div>
                    <div class="form-radios__form-item">
                        <input required="required" type="radio" id="editColorGreen" name="submitted[color]" value="green"  class="js_form-radios__input form-radios__input form-radios__input_green">
                        <label class="form-radios__label" for="editColorGreen"> </label>

                    </div>
                </div>
            </div>

            <div class="content__product-add-to-cart  field-add-to-cart"><input class="form-submit ajax-processed add-to-cart" type="submit" name="op" value="Купить"></div>
        </form>


            <div class="content__product-post-on-later  field-post-on-later">
                <img src="img/heart-icon.png"><input type="submit" name="post-on-later" value="Отложить на потом" class="form-submit ajax-processed post-on-later">
            </div>

        </div>
    </div>


<footer class="footer">
    <div class="footer__block footer__block-top footer-top">
        <div class="footer-top__menu footer-top__menu-left">
            <h2 class="footer-top__menu_title">Сервис и поддержка</h2>
            <ul class="footer-top__menu_list">
                <%const service = ['Как сделать заказ','Возврат товара','Публичная оферта','Доставка','Способы оплаты','Правила продажи','Возврат денежных средств','Вопросы и ответы'];%>
                <%for (let item = 1;item<=service.length;item++){%>
                <li class="footer-top__menu_item footer-top__menu_list-<%=item%>">
                    <a class="footer-top__menu_link" href="#" title="<%=service[item-1]%>"><%=service[item-1]%></a>
                </li>
                <%}%>
            </ul>
        </div>

        <div class="footer-top__menu footer-top__menu-midle"><h2 class="footer-top__menu_title">О комтании</h2>
            <ul class="footer-top__menu_list">
                <%const about = ['О нас','Контакты','Вакансии','Партнерам','Сертификаты','Преимущества','Наши скидки'];%>
                <%for (let item = 1;item<=about.length;item++){%>
                <li class="footer-top__menu_item footer-top__menu_item-<%=item%>">
                    <a class="footer-top__menu_link" href="#" title="<%=about[item-1]%>"><%=about[item-1]%></a>
                </li>
                <%}%>
            </ul>
        </div>
        <div class="footer-top__block-info">
            <div class="footer-top__block-info_item footer-top__block-info_first">
                <img class="footer-top__block-info_img" src="img/icons/delivery.svg" width="50" height="50">бесплатная доставка от 4000 ₽
            </div>
            <div class="footer-top__block-info_item footer-top__block-info_second">
                <img class="footer-top__block-info_img" src="img/icons/heart.svg" width="32" height="32">пробники в подарок при каждой покупке
            </div>
            <div class="footer-top__block-info_item footer-top__block-info_the-third">
                <img class="footer-top__block-info_img" src="img/icons/cup.svg" width="32" height="32">акции и подарки за покупку
            </div>
        </div>
        <div class="footer-top__block-icon">
            <div class="footer-top__block-icon_link footer-top__block-icon_link-1">
                <a href="#"><img class="footer-top__block-icon_img" src="img/icons/facebook.svg" width="32" height="32"></a>
            </div>
            <div class="footer-top__block-icon_link footer-top__block-icon_link-2">
                <a href="#"><img class="footer-top__block-icon_img" src="img/icons/twitter.svg" width="32" height="32"></a>
            </div>
            <div class="footer-top__block-icon_link footer-top__block-icon_link-3">
                <a href="#"><img class="footer-top__block-icon_img" src="img/icons/instagram.svg" width="32" height="32"></a>
            </div>
        </div>
    </div>
    <div class="footer__block footer__block-bottom">
        <p>2005-2017 © 7h35h0p.ru — модный интернет-магазин одежды, обуви и аксессуаров.<br> Все права защищены. Доставка по всей России!</p>
    </div>
</footer>-->

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery.spincrement.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
